<nav>
    <div class="nav-container">

        {% if current_user.is_authenticated %}

            <div class="nav-left">
                <a href="{{ url_for('index') }}">🏠 Головна</a>
                <a href="{{ url_for('menu_page') }}">🍽 Меню</a>
                <a href="{{ url_for('reserve') }}">🪑 Бронювання</a>
            </div>

            <div class="nav-right">
                <a href="{{ url_for('cart') }}">🛒 Кошик</a>
                <a href="{{ url_for('create_order') }}">📦 Оформити</a>

                {% if current_user.is_admin %}
                    <a href="{{ url_for('add_menu') }}">➕ Додати страву</a>
                {% endif %}

                <a href="{{ url_for('logout') }}">🚪 Вийти</a>
            </div>

        {% else %}

            <div class="nav-right">
                <a href="{{ url_for('sign_in') }}">Увійти</a>
                <a href="{{ url_for('sign_up') }}">Реєстрація</a>
            </div>

        {% endif %}

    </div>
</nav>