<nav>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('index') }}">Меню</a>
        <a href="{{ url_for('reserve') }}">Бронювання</a>
        <a href="{{ url_for('cart') }}">🛒 Кошик</a>
        <a href="{{ url_for('create_order') }}">Оформити замовлення</a>
        <a href="{{ url_for('logout') }}">Вийти</a>
    {% else %}
        <a href="{{ url_for('sign_in') }}">Увійти</a>
        <a href="{{ url_for('sign_up') }}">Реєстрація</a>
    {% endif %}
    <div style="display:flex; gap:10px;">
    <button onclick="history.back()" class="btn">⬅</button>
    <button onclick="history.forward()" class="btn">➡</button>
    {% if current_user.is_admin %}
    <a href="{{ url_for('add_menu') }}">➕ Додати страву</a>
    {% endif %}
</div>
</nav>