{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <form method="POST" class="auth-card">
        {{ form.hidden_tag() }}

        <h2>🍽 Реєстрація</h2>

        <p>Логін</p>
        {{ form.username(class="auth-input") }}

        <p>Пароль</p>
        {{ form.password(class="auth-input") }}

        <p>Email</p>
        {{ form.email(class="auth-input") }}

        <p>Ім’я</p>
        {{ form.fullname(class="auth-input") }}

        {{ form.submit(class="btn") }}

        <p class="auth-link">
            Вже є акаунт?
            <a href="{{ url_for('sign_in') }}">Увійти</a>
        </p>

    </form>

</div>

{% endblock %}